:root{
    --width_menu:300px;
    --padding_menu:10px;
    --bgcolor_menu:rgb(107, 105, 105);
    --hovercolor_menu:rgb(23,23,23);
    --width-collapsed:50px;
}
*{
    margin:0;
    padding:0;
    max-width: 100%;
    max-height: 100%;
}
body{
    background-color: rgb(245,245,245);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin:0;
    padding:0;
}
.text-aling-center{
    text-align:center;
}
.text-aling-right{
    text-align:right;
}
.text-aling-left{
    text-align:left;
}
.text-aling-justify{
    text-align:justify;
}
.active{
    display: block;
}
.hide{
    display: none;
}
.line-separate{
    width: 50px;
    margin: 10px 0 0 0;    
    background: rgb(61, 60, 60);
    height: 5px;

}
/* menu */
.header{
    display: grid;
    height: 80px;
}
.menu{
    display: grid;
    grid-template-columns: 200px auto 200px;
    align-items: center;
    justify-content: center;
}
    .menu-main{
        border: solid 1px black;
        text-decoration: none;
    }
    .menu-main li{
        list-style-type: none;
        display: inline;
        margin-right: 50px;
    }
    .menu-main li:first-child{
        margin-left: 25px;
    }
    .menu-main li:last-child{
        margin-right: 25px;
    }

/* main container */
.main-container{
    display: grid;  
    grid-template-rows:auto auto;
}

/* banner */
#main-banner{
    height: 600px;
    border: solid 1px red; 
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin-bottom: 20px;
}
    .banner-text-content{
        margin-left: 100px;
    }
    .banner-image-content{
        margin-left: auto;
        margin-right: auto;

    }
    .banner-image-content img{
       border-radius: 50%;
    
    }
/* background-image: url("../assets/imagenes/code-banner.jpg");
background-size: cover;
background-position: center center;
background-repeat: no-repeat; */

/* main content  */

.content{
    display: grid;  
    grid-template-rows:auto auto auto auto;
    padding: 0 5rem;
    grid-row-gap: 20px;
}

#about{
    height: 600px;
    border: solid 1px red;
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    grid-gap: 20px;
}
    .about-left-content{
        justify-self: end;
    }
    .about-right-content{
        margin-right: 200px;
    }

#service{
    height: 600px;
    border: solid 1px red;
}
    .service-container{
        display: grid;
        grid-template-rows: 100px auto;
        height: 100%;
    }
    .service-content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5px;
        padding: 0 30px;

    }
        .service-item{
            border: solid 1px black;       
        }

#portfolio{
    height: 600px;
    border: solid 1px red;
    align-items: center;
}

#contact{
    height: 300px;
    width: 100%;
    border: solid 1px red;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    text-align: center;
}
    .side-left{
        display: grid;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0 15px;
    }
        .image-contact{
            display: grid;
            margin: auto;
        }
        .image-contact img{
            border-radius: 50%;
        }
        .list-contact{
            border: solid 1px black;
            text-decoration: none;
            margin-left: auto;
            margin-right: auto;
        }
        .list-contact li{
            list-style-type: none;
            display: inline;
            margin-right: 50px;
        }
        .list-contact li:first-child{
            margin-left: 25px;
        }
        .list-contact li:last-child{
            margin-right: 25px;
        }
    .side-right{
        display: grid;
        align-items: center;
        justify-content: center;
        padding: 0 15px;
    }
    
/* time-line */

.process-wrapper{
    margin: 4% auto auto auto;
    max-width: 100%;
    display: grid;
    grid-template-rows: 200px auto;
    padding: 0 30px;

}

    .progress-bar-container{
       position: relative;
       width: 90%; 
       margin:auto;
       height: 100px;
       margin-top: 59px;
    }
    .progress-bar-container ul{
        padding: 0;
        margin:0;
        padding-top: 15px;
        z-index: 3;
        position: absolute;
        width: 100%;
        margin-top: -40px;
    }
    .progress-bar-container li:before{
        content: "";
        display: block;
        margin: auto;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: solid 2px #aaa;
        transition: all ease 0.3s;
    }
    .progress-bar-container li.active:before,
    .progress-bar-container li:hover:before{
        background: deepskyblue;
    }
    .progress-bar-container li{
        list-style: none;
        float: left;
        width: 20%;
        text-align: center;
        color: #aaa;
        text-transform: uppercase;
        font-size: 11px;
        cursor:pointer;
        font-weight: 700;
        transition: all ease 0.2s;
        vertical-align: bottom;
        height: 59px;
        position: relative;
    }
    
    .progress-bar-container li .step-inner{
        position:absolute;
        width: 100%;
        top: 40px;
        font-size: 14px;
    }
    
    .progress-bar-container li.active,
    .progress-bar-container li:hover{
        color: deepskyblue;
    }
    
    .progress-bar-container li::after{
        content: "";
        display: block;
        width: 5px;
        height: 5px;
        background: #777;
        margin: auto;
        border: solid 7px white;
        border-radius: 50%;
        margin-top: 40px;
        box-shadow: 0 2px 13px -1px rgba(0,0,0,0.3);
        transition: all ease 0.2s;
    }
    
    .progress-bar-container li.active:after,
    .progress-bar-container li:hover:after{
        background: deepskyblue;
    }
    
    .progress-bar-container #line {
        width: 80%;
        margin: auto;    
        background: #eee;
        height: 5px;
        position: absolute;
        left:10%;
        top:57px;
        z-index: 1;
        border-radius: 50px;
        transition: all ease 0.9s;
    }

    .progress-bar-container #line-progress{
        content: "";
        width: 3%;
        height: 100%;
        background: deepskyblue;
        background: linear-gradient(to right, deepskyblue 0%,#2ea3b7 100%);
        position: absolute;
        z-index: 2;
        border-radius: 50px;
        transition: all ease 0.9s;
    }

    .progress-content-section {
        width: 90%;
        margin: auto;
        background: #f3f3f3;
        border-radius: 4px;
    }

    .progress-content-section .service-content{
        padding: 30px 40px;
        text-align: center;
    }
    .service-content{
        text-align: justify;
    }